body {
  padding-top: 54px;
  background-color: #ffcccc; }

.content {
  background-color: white; }

.imageContainer {
  height: 200px;
  font-size: 128px;
  color: #8b0000;
  background-image: url("../images/yaj.png"); }
